<form 
action="/TristanVarewijck"
method="POST">

<div class="mb-3">
<label for="comment" class="form-label">Leave a comment</label>
<textarea class="form-control" id="comment" name="comment" rows="3"></textarea>
</div>

<button type="submit" class="btn btn-primary">Submit</button>

</form>