<section>
    <div class="flash-comments">
         <form class="pure-form" id="comment-form">
             <form class="pure-form" id="comment-form" action="/TristanVarewijck">
                 <div class="comment-form">
                     <div class="left-side">
                          <div class="row">
                              <input type="text" required placeholder="enter your name" id="new_comment_name">
                              <input placeholder="enter valid email" required type="email" id="new_comment_email">
                           </div>
                           <div class="row">
                               <textarea placeholder="enter comment text" required id="new_comment_text" rows="3"></textarea>
                           </div>
                     </div>
                    <div class="right-side">
                           <button type="submit" class="button-secondary pure-button">Send Comment</button>
                    </div>
                </div>
               </form>
         </form>
          <div class="comments-list" id="comments-list">
             <!-- Comments in DATABASE come here! -->
             <div class="comment-info">
                 <% allComments.forEach(function(comment) {%>
                     <div class="row">
                         <div class="name"><%= comment.name %></div>
                         <div class="email"><%= comment.email %></div>
                    </div>
                    <div class="row">
                          <div class="text"><%= comment.comment %></div>
                    </div>
                 <% }); %> 
                 
             </div>
             <div class="comments-list" id="comments-list">
                 <script id="comment-template" type="text/x-template">
                     <div class="comment-info">
                         <div class="row">
                               <div class="name">{{new}}</div>
                               <div class="email">{{email}}</div>
                          </div>
                          <div class="row">
                                <div class="text">{{comment}}</div>
                          </div>
                      </div>
                  </script>
             </div>
         </div>
     </div>
 </section>