<!-- navbar -->
<nav class="navbar">
    <div class="container-fluid">
      <button>
        <img src="assets/hamburger.svg" alt="hamburger-menu">
      </button>

      <button>
        <img src="assets/darkmode.svg" alt="display-button">
      </button>
    </div>
  </nav>