<!-- navbar -->
<nav class="navbar">
      
  <button id="hamburger">
      <div>
        <div></div>
      </div>
  </button>

      <button>
        <img src="assets/darkmode.svg" alt="display-button">
      </button>
  </nav>