<!-- navbar -->
<nav class="navbar">
      
  <button>
      <div class="center">
        <div></div>
      </div>
  </button>

      <button>
        <img src="assets/darkmode.svg" alt="display-button">
      </button>
  </nav>