
// import
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('../assets/fonts/stylesheet.css'); 
@import url('/css/comment.css'); 
// fonts
$titles-font:'Raleway', sans-serif;
$text-font: "proxima_nova_scosf";  // " + font style" 
$small-links-font:'Poppins', sans-serif;

//  colors
$background-color:#121212;
$text-color:#ffffff; 
$text-section-color:#000000; 
$gradient-darkBlue:#5E98EF; 
$gradient-lightBlue:#02F0E4;  
$gradient-darkPink:#811AD7; 
$gradient-lightPink:#D921FD; 

*{
    padding:0; 
    margin:0;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: $background-color; 
    color: $text-color; 
    overflow-x:hidden;
    margin: 0 auto;
    padding: 0; 
    font-size: 16px; 

    p{
        padding:0; margin:0;
    }


    h1, h2, h3, h4, h5, h6{
        font-family: $titles-font;
    }

    h2{
        margin: 2em 0 1em 0;
        font-family: $titles-font;
        font-size: 1em;
    }

    ul{
        padding:0;
    }

    .action{
        position: relative;
        text-decoration: none;
        color: $text-color;
        font-size: 1.2em;
        font-family: $small-links-font;
        letter-spacing: 0.01em;
        
    }

    .action::after{
        content: "";
        position: absolute;
        width: 80px; 
        height: 2px; 
        bottom: 50%; 
        top: 50%;
        left: 150%;
        background:white;
        transition: .2s all ease-in-out;
    }

    .action:hover:after{
        left: 200%;
    }

    nav{
        height: 64px;
        background-color: $background-color;

        ul{
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 20px;
            padding: 0;
     
                button{
                    background:none; 
                    border: none;
            }
        }
    }


    .show-menu{
        transform: translate(0%); 
        transition: all .4s cubic-bezier(0,1.25,.99,.99)
    }

    aside{
        position: fixed;
        background-color:$background-color; 
        width: 200px; 
        height: calc(100vh - 64px);
        padding-top: 20px;
        transform: translate(-100%);
        transition: all .4s cubic-bezier(.91,.01,1,.09);
        z-index: 1;
      
        ul:first-of-type {
           margin-left: 20px;
           display: flex;
           flex-direction: column;
           align-items: flex-start;
           align-content: center;

           li{
            margin-bottom: 10px;
            background-color: #1C1D23;
            padding: 5px 10px 5px 10px;
            border-radius: 2px;
            width: 125px;
            transition: .4s ease-in-out;
            height: 100%;
            position: relative;
            color: $text-color;
            }

            li:hover{
                transform:translate(2px);
                color: $text-color; 
            }

            li:before, li:after{
                content: ""; 
                position: absolute;  
                transition: all .4s;
                background: #1C1D23;
            }

            li:before{
                width: 20px; 
                height: 100%;
                top: 0; left: -30px;
            }

            li:after{
                width: 100%; 
                height: 2px; 
                bottom: 0; left:0; 
            }

            li:hover:before, li:hover:after{
                background: linear-gradient(199.37deg, #5E98EF 5.37%, #811AD7 94.08%);
            }

            a{
                text-decoration: none;
                color: $text-color;
                font-family: $small-links-font;
                text-decoration: none;
            }    
       } 

       ul:last-of-type{
           position: absolute;
           width: 100%;
           bottom: 0;
           display: flex;
           flex-direction:row; 
           justify-content: flex-end;
           padding:0;

           a:nth-of-type(2){
              margin: 0 20px 0 10px;
               
           }
       }
}


Header{
    margin: 60px 20px 0 20px;

    h1{
        font-size: 3em;
        line-height: 55px;
        letter-spacing: 0.02em;
        margin-bottom: 1.5em;
    }

    div{
        position: relative;
        background-color: #1C1D23; 
        width: 100%; 
        height: 300px;
        border-radius: 2px;
        margin-top: 1.5em;
    }
}

.about{
    margin: 60px 20px 0 20px;
    
    h1{
        font-size: 3em;
    }

    .subtitle{
        font-size: 1em; 
        font-family: $text-font + "regular";
        line-height: 19px;
        letter-spacing: 0.01em;
        margin-bottom: 2em;
    }

    .skill-grid{
        // grid
        display: flex;
        flex-wrap: wrap;
        // grid
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
        grid-auto-rows: minmax(auto, auto);
        grid-gap: 1em;
        align-items: center;
        
        div{
            position: relative;
            align-items: center;
            display: flex;
            justify-content: center;
            align-content: center;
            margin:0; 
            padding:.3em;
            background-color: $background-color;  
        }

        div:after{
            content: '';
            position: absolute;
            top: -2px;
            left: -2px;
            right: -2px;
            bottom: -2px;
            z-index: -1;
            border-radius: 2px;
            background:linear-gradient(199.37deg, #D921FD 5.37%,  #811AD7 94.08%); 
            animation: gradient infinite 2s;
        }

        div:nth-child(2n):after{
            background:linear-gradient(199.37deg, #02F0E4 5.37%,  #5E98EF 94.08%);
        }
    }

    .testimonials-list{
        li{
            // background-color: gray;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .img-box{
                position: relative;
                img{
                    width: 74px;
                    height: 74px;
                    background-color:lightgray;
                    border-radius: 50%; 
                }
                
            }

            .img-box::after{
                content: ""; 
                position: absolute;
                top: 80%;
                left: calc(50% - 2px);
                z-index: -1;
                width: 2px;
                height: 100%;
                background:green;
                
            }
        
            .person-box{
                margin-top: 37px;
                display: inline-block;

                h3{
                    font-family: $small-links-font;
                    font-weight: normal;
                    font-size: 1em;
                    margin:0;
                }

                p{
                    margin-top: 1.5em;
                }
            }
            
        }
    }
}


}