
// import
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('../assets/fonts/stylesheet.css'); 
// fonts
$titles-font:'Raleway', sans-serif;
$text-font: "proxima_nova_scosf";  // " + font style" 
$small-links-font:'Poppins', sans-serif;

//  colors
$background-color:#121212;
$text-color:#ffffff; 
$text-section-color:#000000; 
$gradient-darkBlue:#5E98EF; 
$gradient-lightBlue:#02F0E4;  
$gradient-darkPink:#811AD7; 
$gradient-lightPink:#D921FD; 

body{
    background-color: $background-color; 
    color: $text-color; 
    overflow-x:hidden;


    h1, h2, h3, h4, h5, h6{
        font-family: $titles-font;
    }

    // nav
    .navbar{
        width: 100%;
        height: 64px;
        left: 0px;
        top: 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        button{
            background:none; 
            padding:none;
            border:none;
            width: 50px;
            box-sizing: content-box;
        }

        button:nth-of-type(1){
            transform: scale(.5);
            
        }

        button:nth-of-type(1):before,
        button:nth-of-type(1):after,
        button:nth-of-type(1) div {
            background: #fff;
            content: "";
            display: block;
            height: 6px;
            border-radius: 3px;
            margin: 7px 0;
            transition: 0.5s;
        }
        button:nth-of-type(1):focus:before {
            transform: translateY(12px) rotate(135deg);
        }
        button:nth-of-type(1):focus:after {
            transform: translateY(-12px) rotate(-135deg);
        }
        button:nth-of-type(1):focus div {
            transform: scale(0);
        } 
    }

    // title
    h1{
        position: absolute;
        width: 100%;
        height: 209px;
        left: 29px;
        right: 29px;
        top: 110px;
        font-family: $titles-font;
        font-style: normal;
        font-weight: 600;
        font-size: 45px;
        line-height: 55px;
        letter-spacing: 0.02em;
    }

    // button
    .link-box{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 185px;
        position: absolute;
        width: 184px;
        height: 55px;
        left: 30px;
        top: 384px;
        text-decoration: none;

        p{
            color: $text-color; 
            text-decoration: none;
            font-family: $small-links-font;
            font-size: 18px;
            line-height: 55px;
            letter-spacing: 0.01em;
            margin:0
        }
       
        div{
            transform: rotate(90deg);
            display: inline-block;
            border: 1px solid $text-color;
            height: 63px;
        }
    }

    // //  grid art
    #grid-element {
        position: absolute;
        width: 316px;
        height: 316px;
        left: 30px;
        top: 448px;
        color: $text-color;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 3px;
        grid-auto-flow: row;
        grid-template-areas:
          ". . . . . . . . . . . . . . . . . . . . . . . . . . . ."
          ". . . . . . . . . . . . . . . . . . . . . . . . . . . ."
          ". . . . . . . . . . . . . . . . . . . . . . . . . . . ."
          ". . . . . . . . . . . . . . . . . . . . . . . . . . . ."
          ". . . . . . . . . . . . . . . . . . . . . . . . . . . ."
          ". . . . . . . . . . . . . . . . . . . . . . . . . . . ."
          ". . . . . . . . . . . . . . . . . . . . . . . . . . . ."
          ". . . . . . . . . . . . . . . . . . . . . . . . . . . ."
          ". . . . . . . . . . . . . . . . . . . . . . . . . . . ."
          ". . . . . . . . . . . . . . . . . . . . . . . . . . . ."
          ". . . . . . . . . . . . . . . . . . . . . . . . . . . ."
          ". . . . . . . . . . . . . . . . . . . . . . . . . . . ."
          ". . . . . . . . . . . . . . . . . . . . . . . . . . . ."
          ". . . . . . . . . . . . . . . . . . . . . . . . . . . ."
          ". . . . . . . . . . . . . . . . . . . . . . . . . . . ."
          ". . . . . . . . . . . . . . . . . . . . . . . . . . . ."
          ". . . . . . . . . . . . . . . . . . . . . . . . . . . ."
          ". . . . . . . . . . . . . . . . . . . . . . . . . . . ."
          ". . . . . . . . . . . . . . . . . . . . . . . . . . . ."
          ". . . . . . . . . . . . . . . . . . . . . . . . . . . ."
          ". . . . . . . . . . . . . . . . . . . . . . . . . . . ."
          ". . . . . . . . . . . . . . . . . . . . . . . . . . . ."
          ". . . . . . . . . . . . . . . . . . . . . . . . . . . ."
          ". . . . . . . . . . . . . . . . . . . . . . . . . . . ."
          ". . . . . . . . . . . . . . . . . . . . . . . . . . . ."
          ". . . . . . . . . . . . . . . . . . . . . . . . . . . ."
          ". . . . . . . . . . . . . . . . . . . . . . . . . . . ."
          ". . . . . . . . . . . . . . . . . . . . . . . . . . . ."
          ". . . . . . . . . . . . . . . . . . . . . . . . . . . .";
      }

      
    //   menuBox
      .show{
            position: absolute;
            width: 188px;
            height: 100%;
            left: 0px;
            top: 40px;
            background: #121212;
            z-index:1;
            display: block;
            transform:translate(-0%); 
            transition: .2s; 
        }

      #menuBox{
            position: absolute;
            width: 188px;
            height: 100%;
            left: 0px;
            top: 40px;
            background: #121212;
            z-index:1;
            display: block;
            transform: translate(-100%);

            ul{
                display: flex;
                justify-content: space-evenly;
                flex-direction: column;
                
                li{
                    font-family: $small-links-font;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 25px;
                    margin-bottom: 25px;
                    letter-spacing: 0.01em;
                    list-style-type: none;
                }

                li:first-of-type{
                    margin-top: 3em;
                }

            }

            
      }

      .aboutMe{
        position: absolute;
        width: 216px;
        height: 55px;
        left: 29px;
        top: 830px;
        
        font-family: Raleway;
        font-style: normal;
        font-weight: 600;
        font-size: 45px;
        line-height: 55px;
        /* identical to box height, or 122% */
        
        letter-spacing: 0.02em;
        
        color: #FFFFFF;
      }

      
      

   

    

    














}

