<% layout('../layout/boilerplate') -%>

<!-- navbar -->
<nav>
    <ul>
        <li id="hamburger"><button><img src="assets/hamburger.svg" alt="hamburger"></button></li>
        <li><button><img src="assets/darkmode.svg" alt="darkmode-switch"></button></li>
    </ul>
</nav>

<!-- mobile menu -->
<aside>
    <ul>
        <a href="#"><li>About me</li></a>
        <a href="#"><li>My Work</li></a>
        <a href="#"><li>Contact</li></a>
    </ul>

    <ul>
        <a href="#"><li><img src="assets/github.svg" alt="Github-link"></li></a>
        <a href="#"><li><img src="assets/linkedin.svg" alt="Linkin-link"></li></a>
    </ul>
</aside>

<header>
    <h1>Product development starts with design</h1>
    <a class="action" href="#">My Work</a>
    <div>
    </div>
</header>

<section class="about">
    <h1>About me</h1>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an  unknown printer took a galley</p>
    <a class="action" href="#">Contact me</a>
    <h2>skillset</h2>
    <div class="skill-grid">
        <div><p>Node.js</p></div>
        <div><p>UI/UX</p></div>
        <div><p>Branding</p></div>
        <div><p>Html/css</p></div>
        <div><p>React.js</p></div>
        <div><p>Javascript</p></div>
        <div><p>Adobe</p></div>
        <div><p>Database</p></div>
        <div><p>Responsive</p></div>
    </div>





