<% layout('../layout/boilerplate') -%>

<!--  navbar  -->
<nav>
<%- include('../views/partials/navbar'); -%>
</nav>

<!-- contact form -->
<!-- <%- include('../views/partials/contactForm'); -%> -->

<!-- secret menu  -->
<div id="menuBox" style="transform: translate(-100%)">
    <ul>
        <li>About me</li>
        <li>My Work</li>
        <li>Testimonials</li>
        <li>Contact me / inquires</li>
    </ul>
</div>

<!-- first page -->
<header>
    <h1 class="main-title">Product development starts with Design</h1>
    
    <a class="work-link" href="#myWork">
    <p>My Work</p>
    <div class="link-element"></div>
    </a>

    <!-- <div id="grid-element">
    </div> -->

    <div id="grid-element">
        <!-- <img src="assets/artboard.svg" alt="artboard"> -->
    </div>
</header>


<!-- about me  -->
<section id="about">
    <h1>About me</h1>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
        when an  unknown printer took a galley
    </p>

    <a class="contact-link" href="#contact">
        <p>Contact me</p>
        <div class="link-element"></div>
        </a>

        <!--  skillset  -->
        <div id="skillset-grid">


        </div>
</section>

        
        <section class="comment-section">
            <h2>Flash Comments - Super Fast</h2>
            <div class="post">
      <!-- Put here Content like Youtube Video, Blog Post or Live Stream -->
            </div>
        </section>
        <section>

           <div class="flash-comments">
                <div class="header">
                    <div class="text">Comments</div>
                </div>
                <form class="pure-form" id="comment-form">
                    <form class="pure-form" id="comment-form" action="/TristanVarewijck">
                        <div class="comment-form">
                            <div class="left-side">
                                 <div class="row">
                                     <input type="text" required placeholder="enter your name" id="new_comment_name">
                                     <input placeholder="enter valid email" required type="email" id="new_comment_email">
                                  </div>
                                  <div class="row">
                                      <textarea placeholder="enter comment text" required id="new_comment_text" rows="3"></textarea>
                                  </div>
                            </div>
                           <div class="right-side">
                                  <button type="submit" class="button-secondary pure-button">Send Comment</button>
                           </div>
                       </div>
                      </form>
                </form>
                 <div class="comments-list" id="comments-list">
                    <div class="comments-list" id="comments-list">
                        <script id="comment-template" type="text/x-template">
                            <div class="comment-info">
                                
                                <div class="row">
                                      <div class="name">{{name}}</div>
                                      <div class="email">{{email}}</div>
                                 </div>
                                 <div class="row">
                                       <div class="text">{{comment}}</div>
                                 </div>
                             </div>
                         </script>
                    </div>
                </div>
            </div>
        </section>

       
</section>


