<% layout('../layout/boilerplate') -%>

<nav>
<%- include('../views/partials/navbar'); -%>
</nav>

<header>
    <h1 class="main-title">Product development starts with Design</h1>
    
    <a class="link-box" href="#myWork">
    <p>My Work</p>
    <div></div>
    </a>

    <div id="grid-element">
        
    </div>
</header>
