<% layout('../layout/boilerplate') -%>

<!--  navbar  -->
<nav>
<%- include('../views/partials/navbar'); -%>
</nav>

<!-- contact form -->
<!-- <%- include('../views/partials/contactForm'); -%> -->

<!-- secret menu  -->
<div id="menuBox" style="transform: translate(-100%)">
    <ul>
        <li>About me</li>
        <li>My Work</li>
        <li>Testimonials</li>
        <li>Contact me / inquires</li>
    </ul>
</div>

<!-- first page -->
<header>
    <h1 class="main-title">Product development starts with Design</h1>
    
    <a class="work-link" href="#myWork">
    <p>My Work</p>
    <div class="link-element"></div>
    </a>

    <!-- <div id="grid-element">
    </div> -->

    <div id="grid-element">
        <!-- <img src="assets/artboard.svg" alt="artboard"> -->
    </div>
</header>


<!-- about me  -->
<section id="about">
    <h1>About me</h1>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
        when an  unknown printer took a galley
    </p>

    <a class="contact-link" href="#contact">
        <p>Contact me</p>
        <div class="link-element"></div>
        </a>

        <!--  skillset  -->
        <div id="skillset-grid">


        </div>

        <%- include('../views/partials/commentForm'); -%>
</section>


