@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("../assets/fonts/stylesheet.css");
@import url("/css/comment.css");
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #121212;
  color: #ffffff;
  overflow-x: hidden;
  margin: 0 auto;
  padding: 0;
  font-size: 16px;
}

body p {
  padding: 0;
  margin: 0;
}

body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: "Raleway", sans-serif;
}

body h2 {
  margin: 2em 0 1em 0;
  font-family: "Raleway", sans-serif;
  font-size: 1em;
}

body ul {
  padding: 0;
}

body .action {
  position: relative;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2em;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.01em;
}

body .action::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 2px;
  bottom: 50%;
  top: 50%;
  left: 150%;
  background: white;
  -webkit-transition: .2s all ease-in-out;
  transition: .2s all ease-in-out;
}

body .action:hover:after {
  left: 200%;
}

body nav {
  height: 64px;
  background-color: #121212;
}

body nav ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px;
  padding: 0;
}

body nav ul button {
  background: none;
  border: none;
}

body .show-menu {
  -webkit-transform: translate(0%);
          transform: translate(0%);
  -webkit-transition: all 0.4s cubic-bezier(0, 1.25, 0.99, 0.99);
  transition: all 0.4s cubic-bezier(0, 1.25, 0.99, 0.99);
}

body aside {
  position: fixed;
  background-color: #121212;
  width: 200px;
  height: calc(100vh - 64px);
  padding-top: 20px;
  -webkit-transform: translate(-100%);
          transform: translate(-100%);
  -webkit-transition: all 0.4s cubic-bezier(0.91, 0.01, 1, 0.09);
  transition: all 0.4s cubic-bezier(0.91, 0.01, 1, 0.09);
  z-index: 1;
}

body aside ul:first-of-type {
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
}

body aside ul:first-of-type li {
  margin-bottom: 10px;
  background-color: #1C1D23;
  padding: 5px 10px 5px 10px;
  border-radius: 2px;
  width: 125px;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
  height: 100%;
  position: relative;
  color: #ffffff;
}

body aside ul:first-of-type li:hover {
  -webkit-transform: translate(2px);
          transform: translate(2px);
  color: #ffffff;
}

body aside ul:first-of-type li:before, body aside ul:first-of-type li:after {
  content: "";
  position: absolute;
  -webkit-transition: all .4s;
  transition: all .4s;
  background: #1C1D23;
}

body aside ul:first-of-type li:before {
  width: 20px;
  height: 100%;
  top: 0;
  left: -30px;
}

body aside ul:first-of-type li:after {
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
}

body aside ul:first-of-type li:hover:before, body aside ul:first-of-type li:hover:after {
  background: linear-gradient(199.37deg, #5E98EF 5.37%, #811AD7 94.08%);
}

body aside ul:first-of-type a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

body aside ul:last-of-type {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0;
}

body aside ul:last-of-type a:nth-of-type(2) {
  margin: 0 20px 0 10px;
}

body Header {
  margin: 60px 20px 0 20px;
}

body Header h1 {
  font-size: 3em;
  line-height: 55px;
  letter-spacing: 0.02em;
  margin-bottom: 1.5em;
}

body Header div {
  position: relative;
  background-color: #1C1D23;
  width: 100%;
  height: 300px;
  border-radius: 2px;
  margin-top: 1.5em;
}

body .about {
  margin: 60px 20px 0 20px;
}

body .about h1 {
  font-size: 3em;
}

body .about .subtitle {
  font-size: 1em;
  font-family: "proxima_nova_scosfregular";
  line-height: 19px;
  letter-spacing: 0.01em;
  margin-bottom: 2em;
}

body .about .skill-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(125px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
  grid-auto-rows: minmax(auto, auto);
  grid-gap: 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .about .skill-grid div {
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0;
  padding: .3em;
  background-color: #121212;
}

body .about .skill-grid div:after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  z-index: -1;
  border-radius: 2px;
  background: linear-gradient(199.37deg, #D921FD 5.37%, #811AD7 94.08%);
  -webkit-animation: gradient infinite 2s;
          animation: gradient infinite 2s;
}

body .about .skill-grid div:nth-child(2n):after {
  background: linear-gradient(199.37deg, #02F0E4 5.37%, #5E98EF 94.08%);
}

body .about .testimonials-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .about .testimonials-list li .img-box {
  position: relative;
}

body .about .testimonials-list li .img-box img {
  width: 74px;
  height: 74px;
  background-color: lightgray;
  border-radius: 50%;
}

body .about .testimonials-list li .img-box::after {
  content: "";
  position: absolute;
  top: 80%;
  left: calc(50% - 2px);
  z-index: -1;
  width: 2px;
  height: 100%;
  background: green;
}

body .about .testimonials-list li .person-box {
  margin-top: 37px;
  display: inline-block;
}

body .about .testimonials-list li .person-box h3 {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 1em;
  margin: 0;
}

body .about .testimonials-list li .person-box p {
  margin-top: 1.5em;
}
/*# sourceMappingURL=style.css.map */